{% extends 'base.html' %}

{% block title %}Список объявлений{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 mt-4">Объявления</h1>

<!-- Форма поиска -->
<form method="get" class="mb-8 flex flex-col md:flex-row gap-y-2 md:gap-x-4">

    {% if request.GET.q %}
  <input type='text' name='q' value="{{ query }}" placeholder='Поиск...' 
         class='flex-grow p-3 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300'>
    {% else %}
    <input type='text' name='q' placeholder='Поиск...' 
           class='flex-grow p-3 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300'>
    {% endif %}

  <select name='category' class='p-[10px] border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300'>
    <option value=''>Все категории</option>
    {% for cat in categories %}
      <option value="{{ cat }}" {% if cat == request.GET.category %}selected{% endif %}>{{ cat }}</option>
    {% endfor %}
  </select>
  <button type='submit' 
          class='px-[20px] py-[10px] bg-blue-600 text-white rounded hover:bg-blue-700 transition'>Искать</button>
</form>

<!-- Карточки объявлений -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-x-[20px] gap-y-[30px]">
  {% for ad in ads %}
    <div class="bg-white rounded shadow hover:shadow-lg transition duration-[0.3s] flex flex-col overflow-hidden">
      {% if ad.image_url %}
        <img src="{{ ad.image_url }}" alt="{{ ad.title }}" class="h-[200px] w-full object-cover">
      {% else %}
        <div class="h-[200px] bg-gray-200 flex items-center justify-center text-gray-500">Нет изображения</div>
      {% endif %}
      <div class="p-[15px] flex flex-col flex-grow">
        <h2 class="text-xl font-semibold mb-[10px]">{{ ad.title }}</h2>
        <p class="text-gray-700 mb-[10px]">{{ ad.description|truncatechars:100 }}</p>
        <p class="text-sm text-gray-500 mb-[15px]"><strong>Категория:</strong> {{ ad.category }}</p>
        <a href="{% url 'ad_detail' ad.id %}" 
           class='mt-auto px-[15px] py-[10px] bg-blue-600 text-white rounded hover:bg-blue-700 transition self-start'>Подробнее</a>
      </div>
    </div>
  {% empty %}
    <p>Объявлений не найдено.</p>
  {% endfor %}
</div>

{% endblock %}