{% extends "base.html" %}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <!-- Аватар -->
        <div class="avatar-section">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" 
                     alt="Аватар" 
                     class="profile-avatar">
            {% else %}
                <div class="default-avatar">
                    <i class="fas fa-user-circle"></i>
                </div>
            {% endif %}
        </div>
        
        <!-- Информация -->
        <div class="profile-info">
            <h2 class="profile-name">
                <div>
                    {{ user.first_name }} {{ user.last_name }} 
                </div>
                
            </h2>
            <div class="username-section">
                    <span class="username">@{{ user.username }}</span>
            </div>
            
            <div class="profile-details">
                <div class="detail-item">
                    <i class="fas fa-envelope"></i>
                    <span>{{ user.email }}</span>
                </div>
                
                <div class="detail-item">
                    <i class="fas fa-calendar-alt"></i>
                    <span>На сайте с: {{ user.date_joined|date:"d.m.Y" }}</span>
                </div>
            </div>
            
            <a href="{% url 'edit_profile' %}" class="edit-btn">
                <i class="fas fa-edit"></i>
                Редактировать профиль
            </a>
        </div>
    </div>
</div>
{% endblock %}