{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">Редактировать профиль</h1>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-4">
            <label for="{{ form.first_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Имя:</label>
            {{ form.first_name }}
        </div>
        
        <div class="mb-4">
            <label for="{{ form.last_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Фамилия:</label>
            {{ form.last_name }}
        </div>
        
        <div class="mb-6">
            <label for="{{ form.bio.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">О себе:</label>
            {{ form.bio }}
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Сохранить изменения</button>
    </form>
</div>
{% endblock %}